/*-- Global Element Styles --*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Ubuntu Condensed', 'Raleway', sans-serif;
    font-size: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #17A56C;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

hr {
    border-color: #404040;
}

::selection {
    background: #f8f8f8; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #f8f8f8; /* Gecko Browsers */
}

/*------------------*/

/*-- About Styles --*/

#logo {
    width: 200px;
}

#banner {
    margin-top: 20px;
}

#about {
    margin-top: 50px;
    margin-bottom: 50px;
}

#topImage {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left:50%;
    margin-left: -100px;
}

#topImage img {
    width: 100%;
}

#about p {
    text-align: justify;
    font-size: 2em;
    line-height: 1.8em;
    color: #404040;
    padding-right: 60px;
    padding-left: 60px;
}

#about p > a {
    color: #f8f8f8;
    text-decoration: underline;
    -moz-text-decoration-color: #f8f8f8;
    text-decoration-color: #f8f8f8;
}

#about p > a:hover {
    color: #404040;
    text-decoration: underline;
    -moz-text-decoration-color: #f8f8f8;
    text-decoration-color: #f8f8f8;
}

/*--------------------*/

/*-- Contact Styles --*/

#contact {
    margin: 10px;
}

.contactList {
    width: 100%;
}

.socialIcon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: #404040;
    transition: color 0.35s;
}

.socialIcon:hover {
    color: #f8f8f8;
}

/*-------------------*/

/*-- Footer Styles --*/

#footer {
    text-align: center;
    font-size: 1.4em;
    width: 100%;
}

/*--------------------*/

/*--- Resume Styles --*/

#backToSite {
    color: #f8f8f8;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: fixed;
    transition: text-shadow .35s ease;
}

#backToSite:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#downloadFile {
    background: #f8f8f8;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 15px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow .2s ease;
}

#downloadFile:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

#downloadIcon {
    height: 60%;
    width: 60%;
    padding-left: 20%;
    padding-top: 20%;
}

#downloadFile:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#resume {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 20px;
}

/*--------------------*/

/*-- Responsiveness --*/

@media (max-width:1440px) {}

@media (max-width:1366px) {}

@media (max-width:1280px) {}

@media (max-width:1024px) {}

@media (max-width:800px) {}

@media (max-width:768px) {}

@media (max-width:640px) {}

@media (max-width:600px) {}

@media (max-width:480px) {}

@media (max-width:384px) {}

@media (max-width:375px) {}

@media (max-width:360px) {}