/*-- Global Element Styles --*/

* {
  margin: 0px;
  padding: 0px;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Ubuntu Condensed', 'Raleway', sans-serif;
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #ACE7EF;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

hr {
  border-color: #404040;
  margin-left: 100px;
  margin-right: 100px;
}

::selection {
  background: #f8f8f8;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #f8f8f8;
  /* Gecko Browsers */
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


/*------------------*/


/*-- About Styles --*/

#logo {
  width: 200px;
}

#about, #freelance {
  margin: 50px auto 50px auto;
  max-width: 1000px;
}

#topImage {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 50%;
  margin-left: -100px;
}

#topImage img {
  width: 100%;
}

#about p, #about li, #freelance p, #freelance li {
  text-align: justify;
  font-size: 2rem;
  line-height: 1.8em;
  color: #404040;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 1rem;
  font-family: 'Arvo', serif;
}

#about ul, #freelance ul {
  padding-left: 7%;
}

#about li, #freelance li {
  font-size: 1.6rem;
  padding: 0;
}

#about a, #freelance a{
  color: #1d8999;
  text-decoration: none;
}

#about a:hover, #freelance a:hover {
  color: #404040;
  text-decoration: underline;
}


/*--------------------*/


/*-- Contact Styles --*/

#contact {
  margin: 10px;
}

#contact a {
  text-decoration: none;
}

.contactList {
  width: 100%;
}

.socialIcon {
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  color: #1d8999;
  transition: color 0.35s;
}

.socialIcon:hover {
  color: #404040;
}


/*-------------------*/


/*-- Footer Styles --*/

.banner {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 50px;
}

#quote {
  font-family: 'Arvo', serif;
  font-size: 1.8rem;
}


/*--------------------*/


/*--- Resume Styles --*/

.backButton {
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
}

.downloadButton {}

#resume {
  width: 95%;
  margin-top: 40px;
  margin-bottom: 40px;
}


/*--------------------*/


/*-- Projects Style --*/

.projectCell {
  margin-bottom: 40px;
  max-width: 800px;
}

.projectImage {
  height: 200px;
  width: 200px;
}

.projectImage img {
  height: 100%;
  width: 100%;
}

.projectInfo {
  margin-bottom: 50px;
}

.projectInfo p {
  font-size: 1.5rem;
  font-family: 'Arvo', serif;
  text-align: justify;
}

.projectInfo h2 {}

.projectWriteUpLink {
  font-size: 2.5rem;
}


/*--------------------*/

/*-- Responsiveness --*/

@media (max-width:1440px) {}

@media (max-width:1366px) {}

@media (max-width:1280px) {}

@media (max-width:1024px) {}

@media (max-width:800px) {}

@media (max-width:768px) {}

@media (max-width:640px) {}

@media (max-width:600px) {}

@media (max-width:480px) {}

@media (max-width:384px) {}

@media (max-width:375px) {}

@media (max-width:360px) {}